.footer {
  background-color: rgb(47, 48, 58);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address__contact-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__contact-link-link {
  text-align: center;
  color: var(--main-color-white);
  margin-bottom: 8px;
}

.address__contact-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__social-link {
  max-width: 270px;
}

.footer__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-white);
}

.footer__social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer__contact-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer__contact {
  max-width: 270px;
}

.footer__contact-link {
  display: flex;
}

.footer__social-link-svg {
  fill: var(--icon-background-color);
}

.input__text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--main-color-white);
}

.input__email {
  display: flex;
}

.input__form {
  background: transparent;
  display: flex;
  width: 450px;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-color-white);
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.input__form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--main-color-white);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
}

.footer__form-btn {
  padding: 8px 26px;
}

@media screen and (max-width: 767.98px) {
  .address__contact-list-link {
    text-align: center;
  }

  .footer__logo {
    text-align: center;
  }

  .footer__social-link {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .footer__contact-link {
    margin-top: 20px;
  }

  .footer__input {
    display: flex;
    flex-direction: column;
    max-width: 450px;
  }

  .footer__title {
    margin-top: 60px;
    display: block;
  }

  .input__text {
    text-align: center;
    margin-top: 60px;
    display: block;
  }

  .input__email {
    flex-direction: column;
    align-items: center;
  }

  .input__form {
    margin-top: 20px;
    align-items: center;
    width: 100%;
  }

  .footer__form-btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .footer__title {
    margin-top: 60px;
  }

  .footer-input-field {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .address__contact-list-link {
    text-align: center;
  }

  .footer__logo {
    text-align: center;
  }

  .footer__social-link {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .footer__title {
    display: block;
  }

  .footer .container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
    width: 354px;
    margin: auto;
  }

  .footer__contact-link {
    margin-top: 20px;
  }

  .input__email {
    flex-direction: column;
    align-items: center;
  }

  .footer__input {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-top: 60px;
  }

  .input__text {
    text-align: center;
  }

  .footer__social-link {
    display: flex;
    width: 354px;
    height: 120px;
  }

  .input__form {
    margin-top: 20px;
    align-items: center;
    width: 450px;
  }

  .input__form-btn {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
  }
  .footer__social-link {
    margin-right: 30px;
  }

  .footer__title {
    margin-bottom: 20px;
  }

  .footer__contact-item {
    margin-top: 20px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .footer__contact {
    margin-right: 30px;
  }

  .footer__contact-link-link {
    text-align: left;
    margin-bottom: 9px;
  }

  .footer__input {
    width: 570px;
  }

  .footer__btn-svg {
    margin-left: 10px;
  }

  .footer__email {
    margin-top: 20px;
  }

  .input__form {
    width: 358px;
  }

  .footer__form-btn {
    margin-left: 12px;
    padding: 8px 26px;
  }
}
