.team {
  background-color: rgb(245, 244, 250);
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}
.team__title {
  margin-bottom: 50px;
}

.wrapper-team {
  background-color: var(--bg-color-white);
  padding: 30px 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}

.team-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.wrapper-team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 10px;
}

.wrapper-team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: rgb(117, 117, 117);
  text-align: center;
}

.svg-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.svg-list__link-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--icon-background-color);
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.svg-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color-passive);
  transition: fill var(--animation);

  .svg-list__link-svg:hover &,
  .svg-list__link-svg:focus & {
    fill: var(--icon-background-color);
  }
}
