.what-are-we-doing {
  padding-bottom: var(--section-pb);
}

.what-are-we-doing__title {
  margin-bottom: 50px;
}

.services-list {
  flex-wrap: wrap;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.services-list__item {
  position: relative;
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.services-list__label {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  min-height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
