.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.project-list__item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.project-list__link {
  transition: box-shadow var(--animation);

  &:hover,
  &:focus {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-item-wrapper {
  padding: 20px 24px;

  background-color: var(--bg-color-white);
  border: 1px solid rgb(238, 238, 238);
  border-top: none;
}

.project-item-wrapper__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.project-item-wrapper__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: rgb(117, 117, 117);
}

.project-link-wrapper {
  position: relative;
  overflow: hidden;
}

.project-link-wrapper__overlay {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-color-white);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform var(--animation), opacity var(--animation);

  .project-list__link:hover &,
  .project-list__link:focus & {
    transform: translateY(0%);
    opacity: 1;
  }
}
